 .custom-navbar {
    background-color: white !important;  /* Black color */
    max-width: 100%;                     /* Reduce width to 90%, adjust as you like */
    margin: 0 auto;                     /* Center horizontally */
    border-radius: 30px;                /* Rounded edges (optional) */
    padding: 5px 50px;                  /* Optional padding */
  }
